
html {
  display: inline-block;
  height: auto;
  width: auto;
}
.colorszevent{
  color: #57ae37
}
.colorswhite{
  color: white;
}
.title-1{
  font-size: 3rem;
  text-align: center;
  color: rgb(87, 174, 55);
}
body{
  background-color: #202020;

}
.intro{
  text-align: center;
  text-justify: auto;
  color: rgb(255, 255, 255);
  font-size: 2rem;
}
.image-1{
  font-size: xx-small;
  text-align: center;
}

.title-2{
  text-justify: auto;
  text-align: center;
  color: rgb(87, 174, 55);
}
.histoire{
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

.imageZEvent{
  font-size: small;
  margin-left: auto;
  margin-right: auto;
}
.vert {
  color: rgb(87, 174, 55);
}
.text-center{
  width: auto;
  height: auto;
  display: block;
  position: static;
  margin: auto;
  width: 1000px;
  height: 100px;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  text-align: center;
  text-justify: auto;
}
.title-3{

  text-justify: auto;
  text-align: center;
  color: rgb(255, 255, 255);
}
.table{
  color: white;
}
.streamers{
  font-size: xx-large;
}
 
.cardstreamers{
 display: inline-block;
 flex-basis: auto;
 align-items: stretch;
 
}
.card-text{
  color: white;
}
 .para{
  text-align: left;
  font-size: 1.5rem;

 }
 .title-para{
  text-align: center;
  color: rgb(87, 174, 55);
 }
 .title-interpara{
  text-align: center;
  color: rgb(87, 174, 55);
 }
 .card{
   width: 150px;
   height: 150px;
   margin-left: auto;
   margin-right: auto;
 }
 .title-interparah2{
  text-align: center;
  color: rgb(255, 255, 255);
 }
.table{
  margin-left: auto;
  margin-right: auto;
}
.mobile-first{
  text-align: center;
  text-justify: auto;
}

@media screen and (max-width: 576px) {

  }